<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>A list of courses</title>
</head>

<body>
	<header>
		<h1>A List of Courses</h1>
	</header>
	
	<div th:each="course: ${courses}">
		<h2>
			<a th:href="@{/course(id=${course.getId()})}" th:text="${course.getName()}"></a>
		</h2>
	</div>
	
	<form method ="POST">
	<label>Enter name, description and instructor</label>
	<input type ="text" name="name" />
	<input type="text" name="description" />
	<input type ="text" name="instructor" />
	<button th:formaction ="@{/add-course}">add</button>
	</form>
	
	<form method="POST">
	<label>Enter id of course to remove:</label>
	<input type="text" name="id" />
	<button th:formaction="@{remove-course}"> delete</button>
	</form>



</body>
</html>